<table>
    <tbody>
    {{ $url := "static/csv/repository_status.csv" }}
    {{ $sep := "," }}
    {{ range $i, $r := getCSV $sep $url }}
      <tr>
        <td>{{ index $r 0 }}</td>
        <td>{{ index $r 1 }}</td>
        <td>{{ index $r 2 }}</td>
        <td>{{ index $r 3 }}</td>
        <td>{{ index $r 4 }}</td>
        <td>{{ index $r 5 }}</td>
        <td>{{ index $r 6 }}</td>
        <td>{{ index $r 7 }}</td>
        <td>{{ index $r 9 }}</td>
      </tr>
    {{ end }}
    </tbody>
  </table>